<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="..\static\css\style.css" rel="stylesheet">    
    <link href="" rel="stylesheet"/>
  <link rel="stylesheet" href="/resources/demos/style.css">
    <title>Pescar</title>
  </head>
<nav id="sidebar">
            <div class="list-group">
            <a href="#" class="list-group-item active">Perfil</a>
            <a href="#" class="list-group-item">Buscar</a>
            <a href="#" class="list-group-item">Encuestas</a>
            <a href="#" class="list-group-item">Correos</a>
            <a href="#" class="list-group-item">Mis Preguntas</a>
            <a href="#" class="list-group-item">Mis foros</a>
            <a href="#">
            <div>
                <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="text"; style="width:240px;"  placeholder="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" 
                  type="submit">Buscar</button>
                </form>
            </a>
          </div>
        </div>
    </nav>

  <body style="align-content:right">
    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-12 col-md-12">
          <p class="float-right hidden-md-up">
          </p>
          <div class="jumbotron">
            <h1>Laguna de Oportunidades</h1>
            <p>Ayuda y Pide Ayuda.</p>
          </div>
          <div class="row">
            <div class="col-6 col-lg-4">
              <h2>#cursoPhotoshop</h2>
      <p class="rcorners">1. Buenas, ¿alguien me indicaría algún curso de Photoshop?</p>
    </tr>

              <p>Responder <a class="btn btn-secondary" href="#" role="button">Ver Respuestas</a></p>
            </div><!--/span-->
            <div class="col-6 col-lg-4">
              <h2>#telemarketer</h2> 
              <p class="rcorners">2.  ¿Alguien conoce de alguna propuesta abierta de telemarketer por zona sur?</p>
              <a class="btn btn-secondary" href="#" role="button">Sé el primero en Responder</a>
            </div>
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->


      </div><!--/row-->
   </div><!--/.container-->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="offcanvas.js"></script>
  </body>
</html>
