<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="..\static\css\bootstrap.min.css" rel="stylesheet">
      <link href="..\static\css\style.css" rel="stylesheet">    
      <link href="" rel="stylesheet"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
     <title> Pescar</title>
     <style>
          @import url('https://fonts.googleapis.com/css?family=Tajawal');
      </style>
  </head>
   
  </body>
</html>
