<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="..\static\css\bootstrap.min.css" rel="stylesheet">
    <link href="..\static\css\style.css" rel="stylesheet">    
    <link href="" rel="stylesheet"/>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title> Pescar</title>
   <style>
        @import url('https://fonts.googleapis.com/css?family=Tajawal');
    </style>
      <script>
  $( function() {
    $( "#accordion" ).accordion({
      collapsible: true
    });
  } );
  </script>
</head>
 <body class="text-center">
        <form class="form-signin">
              <h1 class="h3 mb-3 font-weight-normal">Ingresá tu DNI</h1>
              <label for="inputDni" class="sr-only">DNI</label>
              <input type="text" id="dni" class="form-control" placeholder="DNI" value="{..}" autofocus>
              <label for="inputPassword" class="sr-only">Password</label>
              <input type="password" id="inputPassword" class="form-control" placeholder="Password" >
              <div class="checkbox mb-3">
              <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button> 
                </div>  
                <label>
                <div id="accordion">
                    <div>
                    <button>Olvide la contraseña</button>
             </div>
               <div style="margin-bottom:10px;">
                  <label for="inputTel" class="sr-only">Tu teléfono</label>
                  <input type="phone" id="inputTel" class="form-control" placeholder="teléfono" autofocus>
     <button>Quiero Volver</button> 
     <button>Perdí la Password</button>    
            </div>
    </label>

              <p class="mt-5 mb-3 text-muted">&copy;Pescar</p>
            </form>
 
  </body>




</html>
