<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Posts</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(post)}">
        <h2>Posts</h2>
        <table class="table table-striped">
            <tr>
                <th>Comentario</th>
                <th>Usuario</th>
            </tr>
            <tr th:each="post : ${posts}">
                <td th:text="${post.comentario}"><a href="/post/${post.comenario}">Comentario</a></td>
                <td th:text="${post.usuarioId}"><a href="/post/${post.usuarioId}">UsuarioId</a></td>
                <td><a th:href="${ '/post/' + post.id}">View</a></td>
                <td><a th:href="${'/post/edit/' + post.id}">Edit</a></td>
                <td><a th:href="${'/post/delete/' + post.id}">Delete</a></td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>